<h1>Lessons</h1>

<p>
     {{#each instructorList}}
        <div>
            Name: {{name}} <img src={{image}} height="40" width="40"><br>
            Year Started:{{startYear}}<br>
            Rate: ${{rate.amount}} for {{rate.minutes}} minutes <br>
            Bio: {{bio}}<br>
            <a href="/lessons/schedule/{{id}}">Book a Lesson</a>
        </div>
        <br>
     {{/each}}
</p>
   
      
       
    


