<h1>Lesson List</h1>

{{#each schedules}}

   Name: {{name}}<br>
   Instructor: {{instructor}}<br>
   Email: {{mail}}<br>
   Phone: {{phone}}<br>
   Day and Time: {{day_time}}<br>
   Comments: {{comments}}<br>
    
{{else}}

    There are no lessons currently booked. 

{{/each}}